:root{
    --main-colour: #f8f7f4;
    --background-colour: #2b2b2e;
    --dropShadow:#d0d495;
    --mainFont: Helvetica, Verdana, sans-serif;
    
}
*{
    box-sizing: border-box
}

header.header{
    
    text-align:center;
    position: sticky;
    top: 0;
    margin: 20px 20px;
    border-style: solid;
    border: 5px black;
    z-index: 1;
    background: var(--background-colour);
    color:  var(--main-colour);
    text-shadow: 1px 1px 3px var(--dropShadow);
    border-radius: 16px ;
    opacity: 1;
    font-family: var(--mainFont);
    box-shadow:5px 4px 10px var(--dropShadow);
}

header h1{
    margin: 20px 20px 5px;
    container: header / inline-size;
}
section.intro{
    text-align: center;
    position: relative;
    padding: 5px 5px 5px 5px;
    color: var(--main-colour);
    font-family: var(--mainFont);
    background: var(--background-colour);
    border-radius: 16px ;
    text-shadow: 1px 1px 3px var(--dropShadow);
    z-index: -1;
    box-shadow:4px 4px 10px var(--dropShadow);
    margin: 10px 5px;
}
body{
    background-color: var(--background-colour);
}
footer{
    position: relative;
    width:100%;
    bottom:0px;
    text-align: center;
    color: var(--main-colour);
    font-family: var(--mainFont);
    text-shadow: 2px 2px 2px var(--dropShadow);
}
header .flexbox-section{
    text-align: center;
    flex-direction: row;
    font-family: var(--mainFont);
    color: var(--main-colour);
    background: var(--background-colour);
    border-radius: 16px;
    padding: 5px;
    text-shadow: 3px 3px 2px var(--dropShadow);
    /*box-shadow:4px 4px 10px var(--dropShadow);*/
    margin: 0px;
}
.flex-container{
    display: flex;
    justify-content: space-around; 
}
.flex-item{
 border-radius: 16px ;
 background-color: var(--background-colour);
 margin: 5px;
 border-style: none;
 width: 100%;
 /* box-shadow:4px 4px 10px var(--dropShadow);*/
 
}
a {
  border: none;
  color: var(--main-colour);
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--background-colour);
  font-family: var(--mainFont);
  text-shadow: 2px 2px 3px var(--dropShadow); 
  width:100%;
  height:100%;
  padding:10px 0px;
  border-radius: 12px;
  &:hover {
    background-color:#3f3f46 ;
  }
}

section.about{
    font-family: var(--mainFont);
    color: var(--main-colour);
    background: var(--background-colour);
    border-radius: 16px;
    text-shadow: 1px 1px 2px var(--dropShadow);
    box-shadow:4px 4px 10px var(--dropShadow);
    text-align: center;
    padding: 55px 5px 10px;
    margin: 15px 5px;
}
section.projects{
    font-family: var(--mainFont);
    color: var(--main-colour);
    background: var(--background-colour);
    border-radius: 16px;
    text-shadow: 1px 1px 2px var(--dropShadow);
    box-shadow:4px 4px 10px var(--dropShadow);
    text-align: center;
    padding: 5px;
    margin: 5px 5px;
    z-index: -1;
}
button{
    border-radius: 16px;
    border-style: none;
    color: var(--main-colour);
    background-color: var(--background-colour);
    text-shadow: 1px 1px 3px var(--dropShadow);
    width:100%;
    height:100%;
    padding:10px 0px;
    text-align: center;
    display: inline;
    font-size: 16px;
    &:hover {
    background-color:#3f3f46 ;
  }
}
section.contact{
    font-family: var(--mainFont);
    color: var(--main-colour);
    background: var(--background-colour);
    border-radius: 16px;
    text-shadow: 1px 1px 2px var(--dropShadow);
    box-shadow:4px 4px 10px var(--dropShadow);
    text-align: center;
    padding: 5px;
    margin: 5px 5px;
}

/* @media (height < 800px){
    .h1{
        margin: 0px;
        font-size: 1em;
        position: fixed;
        background-color: #f8f7f4;
        color: red;
    }
}*/
form{
    width: 100%;
    text-align: center;
    border-style: dotted;
    border-color: var(--dropShadow);
    border-radius: 16px;
}

/* Flipbox styles */
#container {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  height: 400px;
  align-items: center;
}

.flip-box {
  position: relative;
  z-index: 0;
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box-active .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */

.flip-box-front {
  background-size: contain;
  background-repeat: no-repeat;
}

/* Style the back side */

.flip-box-back {
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

/* Apply different images */

#flip-box-front-1 {
  background-image:url("assets/Nutrirep.png");
  
}

#flip-box-back-1 {
  background-image: url("assets/check.png");
}

#flip-box-front-2 {
  background-image:url("assets/Dynamic.png");  
}

#flip-box-back-2 {
  background-image: url("assets/check.png");
}

#flip-box-front-3 {
  background-image:url("assets/API.png");
}

#flip-box-back-3 {
  background-image: url("assets/check.png");
}